<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <% unless current_user == user %>
      <%= render user %>
      <button>
        <%= link_to 'Follow', '#' %>
      </button>
    <% end %>
  <% end %>
</div>


