<p style="color: green"><%= notice %></p>

<%= render 'layouts/header' %>

<div id="feed">
  <%= render 'posts/form' %>

  <h1>Feed</h1>

  <% @posts.reverse.each do |post| %>
    <%= render post %>
  <% end %>
</div>
