:root {
  --main-color: #E9F1F7;
  --secondary-color: #623CEA;
}

body {
  background-color: var(--main-color);
  color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family: "Ubuntu Sans", sans-serif;
}

.post, .comment {
  margin-bottom: 1rem;
  box-shadow: inset 0 0 0.25em 0 var(--secondary-color);
  background-color: white;
  border-radius: 0.4rem;
  padding: 1.5rem;
}

.comments {
  grid-column: 2;
}

.feed, #comment_form {
  grid-column: 2;
  grid-row: 2;
  padding-right: 10%;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

h1 {
  font-size: 1.5em;
}

button,
#btn {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: none;
  border-radius: 0.3rem;
  padding: .25rem;
}

button:hover, #btn:hover {
  /* color: var(--secondary-color); */
  /* opacity: .5; */
  /* color: black; */
  background-color: rgba(50, 7, 239, 0.649);
}

.button_to {
  padding-bottom: .25rem;
}

header {
  grid-column: 1;
  padding-right: 1.5rem;
  padding-left: .5rem;
}

textarea {
  border-radius: 0.3rem;
  box-shadow: inset 0 0 0.25em 0 var(--secondary-color);
  background-color: white;
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: "ubuntu sans", sans-serif;
}

#logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.accountnav {
  padding-top: 10px;
  display: grid;
  gap: .5rem;
}

.postbtns {
  display: grid;
  gap: .25rem;
}

.content {
  font-size: 1.1rem;
  margin-top: -.1%;
}

.meta {
  font-size: .9rem;
  opacity: .75;
}

.counts {
  font-size: .95rem;
  opacity: .85;
  padding-bottom: .25rem;
  padding-top: .1rem;
}

.user_info {
  display: grid;
}

#profile_image {
  border-radius: .5rem;
  margin-bottom: .5rem;
}
