body {
  background-color: #030d36;
  color: #9068cf;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  margin-bottom: 8px;
  border: double #9068cf;
  border-radius: 0.4rem;
  padding: 5px;
}

#posts {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

a {
  text-decoration: none;
  color: #9068cf;
}

h1 {
  font-size: 1.5em;
}

button,
#btn {
  background-color: #9068cf;
  color: black;
  border: none;
  border-radius: 0.3rem;
}

#logo {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #9068cf;
}

.accountnav {
  padding-top: 10px;
}

.postbtns {
  display: inline-block;
}
